body{
	background-color: #031927;
}

/*Navigation Bar*/

.navigationBar ul{

	background-color: #dddddd;

	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.navigationBar li{

	float: left;
}

.navigationBar li a{

	display: block;
	color: black;
	background-color: #dddddd;
	padding: 17px 20px;

	text-align: center;
	text-decoration: none;
}

.navigationBar a:hover{
	background-color: #ffffff
}